<section class="bestsellers">
  <h2 class="sectionTitle">Bestsellers</h2>
  <ul class="bestsellers__list">
    <li class="bestsellers__item">
      <a href="#" class="bestsellers__link">
        <article class="product">
          <div class="product__imageBox">
            <picture>
              <source srcset="img/main-p/bestsellers/img-1-desktop.jpg" media="(min-width:1366px)" type="image/jpeg">
              <source srcset="img/main-p/bestsellers/img-1-tablet.jpg" media="(min-width:768px)" type="image/jpeg">
              <img class="product__image" src="img/main-p/bestsellers/img-1.jpg" alt="">
            </picture>
          </div>
          <div class="product__info">
            <span class="product__name">Jacket</span>
            <b class="product__price">$ 120</b>
          </div>
        </article>
      </a>
    </li>
    <li class="bestsellers__item">
      <a href="#" class="bestsellers__link">
        <article class="product">
          <div class="product__imageBox">
            <picture>
              <source srcset="img/main-p/bestsellers/img-2-desktop.jpg" media="(min-width:1366px)" type="image/jpeg">
              <source srcset="img/main-p/bestsellers/img-2-tablet.jpg" media="(min-width:768px)" type="image/jpeg">
              <img class="product__image" src="img/main-p/bestsellers/img-2.jpg" alt="">
            </picture>
          </div>
          <div class="product__info">
            <span class="product__name">Overalls</span>
            <b class="product__price">$ 140</b>
          </div>
        </article>
      </a>
    </li>
    <li class="bestsellers__item">
      <a href="#" class="bestsellers__link">
        <article class="product">
          <div class="product__imageBox">
            <picture>
              <source srcset="img/main-p/bestsellers/img-3-desktop.jpg" media="(min-width:1366px)" type="image/jpeg">
              <source srcset="img/main-p/bestsellers/img-3-tablet.jpg" media="(min-width:768px)" type="image/jpeg">
              <img class="product__image" src="img/main-p/bestsellers/img-3.jpg" alt="">
            </picture>
          </div>
          <div class="product__info">
            <span class="product__name">Jacket</span>
            <b class="product__price">$ 90</b>
          </div>
        </article>
      </a>
    </li>
    <li class="bestsellers__item">
      <a href="#" class="bestsellers__link">
        <article class="product">
          <div class="product__imageBox">
            <picture>
              <source srcset="img/main-p/bestsellers/img-4-desktop.jpg" media="(min-width:1366px)" type="image/jpeg">
              <source srcset="img/main-p/bestsellers/img-4-tablet.jpg" media="(min-width:768px)" type="image/jpeg">
              <img class="product__image" src="img/main-p/bestsellers/img-4.jpg" alt="">
            </picture>
          </div>
          <div class="product__info">
            <span class="product__name">Overalls</span>
            <b class="product__price">$ 160</b>
          </div>
        </article>
      </a>
    </li>
  </ul>
  <a href="#" class="viewAll-btn">View all</a>
</section>
