<section class="categories">
  <h2 class="sectionTitle">Shop by category</h2>
  <div class="categories__list">
    <div class="categories__row">
      <a href="#" class="categories__item category" aria-label="Jeans category">
        <picture>
          <source media="(min-width: 1366px)" srcset="img/categories/jeans-desktop.jpg" type="image/jpeg">
          <source media="(min-width: 768px)" srcset="img/categories/jeans-tablet.jpg" type="image/jpeg">
          <img class="category__image" src="img/categories/jeans.jpg" alt="jeans category image">
        </picture>
        <h3 class="category__title">Jeans</h3>
      </a>
      <a href="#" class="categories__item category category--short" aria-label="Shirts category">
        <picture>
          <source media="(min-width: 1366px)" srcset="img/categories/shirts-desktop.jpg" type="image/jpeg">
          <source media="(min-width: 768px)" srcset="img/categories/shirts-tablet.jpg" type="image/jpeg">
          <img class="category__image" src="img/categories/shirts.jpg" alt="jeans category image">
        </picture>
        <h3 class="category__title">Shirts</h3>
      </a>
      <a href="catalog.html" class="categories__item category" aria-label="Jackets category">
        <picture>
          <source media="(min-width: 1366px)" srcset="img/categories/jackets-desktop.jpg" type="image/jpeg">
          <source media="(min-width: 768px)" srcset="img/categories/jackets-tablet.jpg" type="image/jpeg">
          <img class="category__image" src="img/categories/jackets.jpg" alt="jeans category image">
        </picture>
        <h3 class="category__title">Jackets</h3>
      </a>
      <a href="#" class="categories__item category category--short" aria-label="Overalls category">
        <picture>
          <source media="(min-width: 1366px)" srcset="img/categories/overalls-desktop.jpg" type="image/jpeg">
          <source media="(min-width: 768px)" srcset="img/categories/overalls-tablet.jpg" type="image/jpeg">
          <img class="category__image" src="img/categories/overalls.jpg" alt="jeans category image">
        </picture>
        <h3 class="category__title">Overalls</h3>
      </a>
    </div>
  </div>
  <a href="#" class="viewAll-btn">View all</a>
</section>