<section class="fall">
  <picture>
    <source media="(min-width: 1366px)" srcset="img/fall/img-desktop.jpg" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="img/fall/img-tablet.jpg" type="image/jpeg">
    <img class="fall__banner" src="img/fall/img.jpg" alt="fall banner">
  </picture>
  <div class="fall__wrapper">
    <div class="fall__content">
      <p class="fall__subtitle">Street fashion collection</p>
      <h2 class="sectionTitle fall__title">Fall 2019</h2>
      <a href="#" class="siteBtn fall__btn">Shop now</a>
    </div>
  </div>
</section>