<header class="mainHeader">
  <div class="logo flex-center">Nimes</div>
  <div class="mainHeader__wrapper">
    //= main-navigation.html
    //= cart-block.html
    <div class="denimBlock">
      <p class="denimBlock__slogan">The quality you deserve</p>
      <div class="denimBlock__denim"></div>
      <a href="#" class="siteBtn denimBlock__btn ">Check new collection</a>
    </div>
    <a href="#" class="arrowDown">
      <svg class="inlineSvg">
        <use xlink:href="../img/icons/icons-sprite.svg#arrow-down"></use>
      </svg>
    </a>
    <ul class="mainHeader__social">
      <li class="mainHeader__socialItem">
        <a href="#" class="mainHeader__socialLink">Facebook</a>
      </li>
      <li class="mainHeader__socialItem">
        <a href="#" class="mainHeader__socialLink">Instagram</a>
      </li>
    </ul>
  </div>
</header>