<footer class="mainFooter">
  <div class="logo mainFooter__logo">Nimes</div>
  //= site-navigation.html
  <ul class="mainFooter__socialList">
    <li class="mainFooter__socialItem"><a href="#" class="mainFooter__socialLink flex-center" aria-label="link to facebook" title="facebook">
      <svg class="inlineSvg">
        <use xlink:href="img/icons/icons-sprite.svg#facebook"></use>
      </svg>
    </a></li>
    <li class="mainFooter__socialItem"><a href="#" class="mainFooter__socialLink flex-center" aria-label="link to instagram" title="instagram">
      <svg class="inlineSvg">
        <use xlink:href="img/icons/icons-sprite.svg#instagram"></use>
      </svg>
    </a></li>
    <li class="mainFooter__socialItem"><a href="#" class="mainFooter__socialLink flex-center" aria-label="link to pinterest" title="pinterest">
      <svg class="inlineSvg">
        <use xlink:href="img/icons/icons-sprite.svg#pinterest"></use>
      </svg>
    </a></li>
    <li class="mainFooter__socialItem"><a href="#" class="mainFooter__socialLink flex-center" aria-label="link to twitter" title="twitter">
      <svg class="inlineSvg">
        <use xlink:href="img/icons/icons-sprite.svg#twitter"></use>
      </svg>
    </a></li>
  </ul>
</footer>