<div class="range">
  <input type="text" class="visually-hidden range__initial" id="initial-value" name="initial-value-range" form="filter-by" value="40">
  <input type="text" class="visually-hidden range__final" id="final-value" name="final-value-range" form="filter-by" value="240">
  <div class="range__scale">
    <div class="range__slider"></div>
    <label for="initial-value" class="range__pointer range__pointer--initial" data-value="40" tabindex="0"></label>
    <label for="final-value" class="range__pointer range__pointer--final" data-value="240" tabindex="0"></label>
  </div>
</div>