<nav class="siteNavigation">
  <ul class="siteNavigation__list">
    <li class="siteNavigation__item"><a href="#" class="siteNavigation__link">Shop</a></li>
    <li class="siteNavigation__item"><a href="#" class="siteNavigation__link">Delivery</a></li>
    <li class="siteNavigation__item"><a href="#" class="siteNavigation__link">Sitemap</a></li>
    <li class="siteNavigation__item"><a href="#" class="siteNavigation__link">Service</a></li>
    <li class="siteNavigation__item"><a href="#" class="siteNavigation__link">Contacts</a></li>
  </ul>
</nav>